# PHPStan configuration
parameters:
    level: 4
    paths:
        - app
        - modules/blog/src
    excludePaths:
        - vendor
        - packages
        - modules/blog/Seed
        - modules/blog/tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Class Marko\\Authentication\\DefaultUserProvider not found#'
        - '#Offset.*always exists#'
        - '#Variable \$_POST on left side of \?\?#'