# PHPStan configuration
parameters:
    level: max
    paths:
        - app
        - modules
    excludePaths:
        - vendor
        - packages
        - modules/*/Seed
        - modules/*/tests
        - 'modules/*/Seed/*'
        - 'modules/*/Seed/**'
        - 'modules/*/tests/*'
        - 'modules/*/tests/**'
    reportUnmatchedIgnoredErrors: false
