# PHPStan configuration
parameters:
    level: max
    paths:
        - app
        - modules/blog/src
        - modules/cardboard/src
        - modules/controllers/src
        - modules/database-modular/src
        - modules/database-sqlite/src
        - modules/htmx/src
        - modules/init/src
        - modules/mark/src
        - modules/portfolio/src
        - modules/view-simple/src
    excludePaths:
        - vendor
        - packages
        - modules/blog/Seed
        - modules/blog/tests
        - modules/blog/Seed
        - modules/blog/tests
        - modules/database-modular/tests
        - modules/database-sqlite/tests
        - modules/init/tests
        - modules/portfolio/Seed
    reportUnmatchedIgnoredErrors: false
