{* blog/resources/views/article/index.latte *}
{layout 'controllers::layouts/app.latte'}

{block content}
    <h1>{$title}</h1>
    <p>{$message}</p>

    <ul>
        {foreach $articles as $article}
            <li>
                <a href="/blog/{$article->id}">{$article->title}</a>
            </li>
        {/foreach}
    </ul>
{/block}
